@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #e11d48;
  --primary-hover: #be123c;
  --background: #000000;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text-color);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .video-card {
    margin: 0.75rem;
  }

  .category-container {
    padding: 0 1.5rem;
  }

  .new-video-container {
    padding: 5rem 1.5rem 1.5rem;
  }
}